{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit harum quos ratione voluptatibus corporis a unde, voluptates id eos nobis et eligendi illo nulla. At maxime quo culpa saepe dignissimos.</p>
<p>Amet minima laudantium veritatis fugit reprehenderit aspernatur iusto. Facere, mollitia? Hic ut alias voluptates vero totam recusandae cum nihil velit, quis quidem tenetur ullam, dignissimos ducimus aliquid enim molestiae maxime.</p>

{% endblock %}