{% extends 'base.html.twig'%}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 06/04/2021 à 21:00 dans la catégorie Politique</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, officiis ea error consequatur doloribus quisquam.</p>
            <p>Numquam reprehenderit, dolorem illum accusantium quibusdam, maxime dolorum non, atque eveniet adipisci soluta sunt neque!</p>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure eius numquam ipsam, laboriosam pariatur quidem quis labore nemo illum eaque impedit voluptate sunt. Atque labore dolor id quos repudiandae ab, placeat, ea similique recusandae enim fugit quidem non voluptatem necessitatibus?</p>
            <p>Dolore vitae voluptatem fugit corrupti sit reiciendis nostrum exercitationem odit cupiditate laborum possimus nisi odio ullam nesciunt magnam enim veniam autem sed doloribus, eaque aperiam ducimus adipisci? Nemo repellat vero hic, esse omnis debitis beatae unde est quis perspiciatis rerum!</p>
        </div>
    </article>




{% endblock %}